* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #2e0927;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}
h2,
p {
  color: #2e0927;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: #2e0927;
  font-weight: 600;
  opacity: 0.8;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 80vh;
  background: linear-gradient(to right top, #d90000, #db7e13);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 70vh;
  width: 75%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.5)
  );
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}

.dashboard {
  margin-top: 5.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  /* border-radius: 2rem; */
}

.profile-info {
  opacity: 0.7;
}

.profile-info:hover {
  transition: 0.8s ease;
  opacity: 1;
}

.link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
}
.link h2 {
  padding: 0rem 2rem;
}

.games {
  flex: 2;
}

/* GAMES */
.status {
  margin-bottom: 3rem;
}

.status input {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  padding: 0.5rem;
}

.search-label {
  text-align: center;
  margin: auto;
  color: #2e0927;
  font-size: 1.2rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0.5rem);
}

.search-input {
  color: #2e0927;
  font-size: 1.2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  border: none;
  display: block;
  transition: all 0.3s;
}

.search-input:focus-visible {
  outline-color: transparent;
}

.search-input:placeholder-shown + .search-label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(0rem);
  transform: translateY(0rem);
}

.games {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  /* border-radius: 1rem; */
  border-radius: 0;
  margin: 2rem 0rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}

.subheader {
  text-align: center;
}

.welcome-page {
  text-align: justify;
}

.note {
  background: rgba(194, 194, 194, 0.4);
  border-radius: 0.2rem;
  margin: 10px;
  padding: 20px;
}

.slide {
  transition: filter 0.5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}

.slide:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}

.progress {
  background: white;
  /* background: linear-gradient(to right top, #ffffff, #bfc3c3); */
  width: 100%;
  height: 25%;
  border-radius: 0 !important;
  position: relative;
  overflow: hidden;
}

.progress-bar {
  background-color: #5784c2 !important;
}

/* .progress-bar .bg-info .progress-bar-striped {
  background-color: rgb(99, 25, 129) !important;
} */

/* 
.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(236, 236, 236);
  position: absolute;
  left: 60%;
} */
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.percentage {
  font-weight: bold;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background: #04756f !important;
  font-size: 16px;
  margin: 10px;
  letter-spacing: 2px;
  width: 150px;
  border: 1px solid transparent !important;
  border-radius: 0 !important;
}
.btn:hover {
  /* background: white; */
  transition: 0.5s;
  transition-delay: 1s;
  /* color: #2e0927; */
  background: linear-gradient(
    to right bottom,
    rgba(4, 117, 111, 0.9),
    rgba(46, 9, 39, 0.9)
  ) !important;
}
.btn span {
  position: absolute;
  display: block;
  background: white;
}

.btn span:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.25s;
}

.btn:hover span:nth-child(1) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.25s;
}

.btn span:nth-child(2) {
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s;
  transition-delay: 0.25s;
}

.btn:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.25s;
  transition-delay: 0.25s;
}

.btn span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.25s;
  transition-delay: 0.5s;
}

.btn:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.25s;
  transition-delay: 0.5s;
}

.btn span:nth-child(4) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s;
  transition-delay: 0.75s;
}

.btn:hover span:nth-child(4) {
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.25s;
  transition-delay: 0.75s;
}

.btn-primary:focus {
  box-shadow: none !important;
}

.navbar {
  background-color: #2e0927;
  height: 12vh;
}

.offcanvas-body {
  background-color: #2e0927;
}

.offcanvas-header {
  background-color: #2e0927;
}

.logo {
  color: white;
  margin: 12px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.logo2 {
  color: orange;
  font-size: 50px;
}

.logo-name {
  margin-left: 30px;
}

.letters {
  display: inline-block;
}

.offcanvas-header .btn-close {
  background-color: #04756f;
}

h5,
a.nav-link,
a.nav-link:hover,
a.nav-link:focus {
  color: white;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  list-style: none;
}
.rotated {
  background-color: rgba(122, 122, 122, 0.424);
}

h1 {
  margin-top: 2rem;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link {
  color: white !important;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-item {
  margin-bottom: 20px;
}

.form-control:focus {
  border: none !important;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212) !important;
}
.form-control {
  border-radius: 0 !important;
}

li .dropdown-menu {
  background-color: #04756f !important;
  transition: background-color 2s !important;
}

li .dropdown-menu:hover {
  background-color: white;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
}

.timer {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: #aaa;
}

.value {
  font-size: 40px;
}

.to-complete {
  border: 1px solid chartreuse;
}

amplify-authenticator {
  background: linear-gradient(to right top, #d90000, #db7e13);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
  width: 100vw;
  /* background-color: black; */
  border-radius: 0;
  padding: 0px;
}

:root {
  --amplify-primary-color: #ffffff;
  --amplify-primary-tint: #ffffff;
  --amplify-secondary-tint: #ffffff;
  --amplify-primary-shade: #ffffff;
  --amplify-font-family: "Poppins", sans-serif;
  --amplify-grey: #e0573e;
  --amplify-white: rgba(46, 9, 39, 0.9);
  --amplify-secondary-color: #ffffff;
  --amplify-text-md-sub: 1.5rem;
}

/* .info {
  max-width: 360px;
  margin: 40px auto 0;
  text-align: center;
  font-size: 16px;
}

.time {
  font-size: 32px;
}

.timer {
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  text-align: center;
  padding-top: 40px;
} */

.opening {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 80px;
  letter-spacing: 20px;
  cursor: pointer;
  filter: blur(5px);
  transition: 0.6s all;
}

.opening:hover {
  filter: blur(0);
}

.opening_brackets {
  color: #db7e13;
  font-size: 160px;
}
.login_btn {
  position: absolute;
  transform: translate(-70%, 200%);
  left: 50%;
  top: 50%;
}

.spinner-container {
  margin-left: 70px;
  margin-top: 10px;
}

.animation-circle{
  /* margin-left: 50%; */
  /* transform: translate(-50%,0); */
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  z-index: 1;
  display: inline-block;
  animation: yourAnimation 20s 0s infinite linear alternate both;
  /* background-color: #db7e13; */

}

.animation-container{
  margin-top: 30px;
  width: 100%;
  height: 500px;
  background-color: #2e0927;
}

@keyframes yourAnimation{
  0%{
    margin-top:0%;
    margin-left: 0%;
/* transform: translate(100px,100px); */
  }
  11%{
    margin-top: 10%;
    margin-left: 95.5%;
    /* transform: translate(-100px,-100px); */
  }
  22%{
    margin-top: 20%;
    margin-left: 0%;
    /* transform: translate(-100px,-100px); */
  }
  33%{
    margin-top: 30%;
    margin-left: 95.5%;
    /* transform: translate(-100px,-100px); */
  }
  44%{
    margin-top: 40%;
    margin-left: 0%;
    /* transform: translate(-100px,-100px); */
  }
  55%{
    margin-top: 50%;
    margin-left: 95.5%;
    /* transform: translate(-100px,-100px); */
  }
  66%{
    margin-top: 60%;
    margin-left: 0%;
    /* transform: translate(-100px,-100px); */
  }
  77%{
    margin-top: 70%;
    margin-left: 95.5%;
    /* transform: translate(-100px,-100px); */
  }
  88%{
    margin-top: 80%;
    margin-left: 0%;
    /* transform: translate(-100px,-100px); */
  }
  100%{
    margin-top: 87%;
    margin-left: 95.5%;
    /* transform: translate(-100px,-100px); */
  }
  /* 100%{
    margin-top: 100%;
    margin-left: 0%; */
    /* transform: translate(-100px,-100px); */
  /* } */
}